body{
    background-color: hsl(61, 100%, 51%);
}
#snimka{
display:block;
margin-left:auto;
margin-right:auto;
width: 60%;
filter: blur(17px);
}

form{
background-color: rgb(38, 255, 0);
text-align: center;
}
#posleden_paragraph{
 background-color: #ff0000;   
}
.redgim{
    background-color: rgb(0, 193, 251);
    padding: 60px ;
    border: 7px solid rgb(255, 0, 0);
    border-radius: 40px; 
}
img{
   border-radius: 20px; 
   border:7px solid red ;
}
#sign{
  background-color: olivedrab;  
  padding: 5px;
  border-radius: 40px;
  border: 7px solid rgb(255, 0, 0);
  position: fixed;
}
#snimka:hover{
Filter:none;
}
#rabota:hover{
background-color: rgb(255, 230, 0);

}
#rabota{
    background-color: saddlebrown;
}